/*Main Styles*/
body {
	color:#f7882f;
	background-color:#dcc7aa;
	background-image:url('images/cloud.png');
	font-family:'Coming Soon', cursive;
}

/*Header*/
#header {
	background-color:#6b7a8f;
	color:#dcc7aa;
	font-size:5vmin;
	text-align:right;
}
button{
	background-color:#6b7a8f;
	color:#dcc7aa;
	font-family: 'Special Elite';
	border:none;
	display:inline-block;
	padding:10px 25px;
}
button:hover, button:active, button:focus {
	background-color:#6b7a8f;
	color:#f7c331;
}
#homeLink {
	float:left;
}



/*Jumbotron*/
.jumbotron {
	margin:50px;
	padding:50px;
	background-color:#f7882f;
	color:black;
	border-radius:20px;
	opacity:0.9;
}
h1,h2,h3 {
	font-family: 'Special Elite';
	font-weight: bold;
}
h2 {
	font-size:7vmin;
}
.highlight {
	font-family: 'Special Elite';
	font-weight:bold;
}
/*work*/
