/*Main Styles*/
body {
	color:#535353;
	background-color:#888888;
	background-image:url('');
	font-family:'Coming Soon', cursive;
}

/*Header*/
#header {
	background-color:#1a0315;
	color:#f8eee7;
	font-size:5vmin;
	text-align:right;
}
button{
	background-color:#1a0315;
	color:#535353;
	font-family: 'Special Elite';
	border:none;
	display:inline-block;
	padding:10px 25px;
}
button:hover, button:active, button:focus {
	background-color:#1a0315;
	color:#88d317;
}
#homeLink {
	float:left;
}



/*pages*/
.page {
	margin:50px;
	padding:50px;
	background-color:#6e3667;
	color:black;
	border-radius:20px;
	opacity:0.9;
}
h1,h2,h3 {
	font-family: 'Special Elite';
	font-weight: bold;
}
h2 {
	font-size:7vmin;
}
.highlight {
	font-family: 'Special Elite';
	font-weight:bold;
}
/*work*/
