/*Main Styles*/
body {
	color:#4c3327;
	background-color:#e6e0cb;
	background-image:url('images/cloud2.png');
	font-family:'Coming Soon', cursive;
}

/*Header*/
#header {
	background-color:#4c3327;
	color:#ecc279;
	font-size:5vmin;
	text-align:right;
}
button{
	background-color:#4c3327;
	color:#ecc279;
	font-family: 'Special Elite';
	border:none;
	display:inline-block;
	padding:10px 25px;
}
button:hover, button:active, button:focus {
	background-color:#4c3327;
	color:#cb8c1d;
}
#homeLink {
	float:left;
}



/*pages*/
.page {
	margin:50px;
	padding:50px;
	background-color:#cb8c1d;
	color:black;
	border-radius:20px;
	opacity:0.9;
}
h1,h2,h3 {
	font-family: 'Special Elite';
	font-weight: bold;
}
h2 {
	font-size:7vmin;
}
.highlight {
	font-family: 'Special Elite';
	font-weight:bold;
}
/*work*/
