<div *ngIf="item.inventory>0 || isAdmin" class="item">
    <span class="item-name">{{item.name}}</span>
    <span class="price-section">
        <span class="item-price">{{item.price | currency:CAN:true }}</span>
        <button *ngIf="!isAdmin" class="buy-button" (click)="buy(item)">Buy</button>
    </span>
    <div class="item-description">{{item.description}}</div>


    <div class="inventory" *ngIf="isAdmin">
        Inventory:
        <button (click)="decreaseInventory(item)">-</button>
        <span class="item-inventory">{{item.inventory}}</span>
        <button (click)="increaseInventory(item)">+</button>
    </div>

</div>