<form (submit)="onSubmit()">
    <div class="form-item">
        <label>Item name: </label><input type="text" [(ngModel)]="item.name" /><br />
    </div>
    <div class="form-item">
        <label>Price: </label><input type="text" [(ngModel)]="item.price" /><br />
    </div>
    <div class="form-item">
        <label>Description: </label><textarea [(ngModel)]="item.description" ></textarea><br />
    </div>
    <div class="form-item">
        <label>Category: </label>
        <select id="category" [(ngModel)]="item.category" name="category"  >
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
    </div>
    <input type="submit" value="submit" />
</form>
<div class="test">
    <p>This is a test list, to show that the list updates properly with new item if displayed in the same component.
        It does not update in the actual display for some reason.
    </p>
    <ul>
        <li *ngFor="let item of list">{{item.name}}</li>
    </ul>
</div>

